################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SneakyExec/v15
/SneakyExec/bin
*.exe
*.pdb
SneakyExec/obj/Release/SneakyExec.csproj.FileListAbsolute.txt
SneakyExec/obj/Release/SneakyExec.csprojResolveAssemblyReference.cache
SneakyExec/obj/Release/SneakyExec.exe
SneakyExec/obj/Release/SneakyExec.pdb
SneakyExec/bin/Release/SneakyExec.exe
SneakyExec/bin/Release/SneakyExec.exe
*.exe
*.pdb
